<!DOCTYPE html>
<html>
    <head>
        {% load static %}
            <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=5.0, minimum-scale=0.5"/>
            <link rel="stylesheet" href="static/css/style.css">
            <script src="http://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
            <script src="static/js/index.js"></script>
            <title>{{ pt }}</title>
        </head>
<body>
    <div align=center id="alert_div">
        <br><br><br>
        <h1 id="alert_title">采样服务流程告知书</h1>
        <br>
        <table border="0" align=center>
        <tr><td><b>一、	温馨提醒：</b></td></tr>
        <tr><td>1、为避免出现呕吐情况，采样前2 小时请勿进食；</td></tr>
        <tr><td>2、为避免影响检测结果，采样前 30 分钟请勿吸烟、喝酒和嚼口香糖；</td></tr>
        <tr><td>3、请带好口罩，做好防护，在等待区耐心等待，听从现场工作人员安排，做相关准备；</td></tr>
        <tr><td>4、请严格遵守“1 米线”间隔要求；</td></tr>
        <tr><td>5、发热、咳嗽人员，中高风险地区人员，入境不满30 天人员，请前往指定医院检测；</td></tr>
        <tr><td>6、采样前，请完成流行病学调查工作（下方二维码）；</br>
        <img src="/static/img/ld_qcode.jpg"  alt="二维码" /></br></td></tr>
        <tr><td>7、采样过程必须保证人员单向流，采样结束后立即离开；</td></tr>
        <tr><td><b>二、采样流程</b></td></tr>
        <tr><td><table border="1" align=left>
        <tr><td><b>准备工作：</b></br>
        测温、出示随申码（绿码）、流行病学调查完成截图</td></tr>
        <tr><td><b>付款：</b></br>
        1、请扫二维码（支付宝或微信）完成付款，并备注姓名；</br>
        2、团单：由联系人统一收取，完成支付；</br>
        </td></tr>
        <tr><td><b>核对信息：</b></br>
        1、请仔细核对姓名、手机号码、身份证号，无误后签字确认。如有错误，请及时告知工作人员修改。</br>
        2、领取采样管。</br>
        </td></tr>
        <tr><td><b>采样操作：</b></br>
        1、将采样管交予采样工作人员，请务必注意与前后保持“1 米”距离。</br>
        </td></tr>
        <tr><td><b>报告查询：</b></br>
        1、团单客户集中发给联系人，由联系人分发给个人。</br>
        2、小程序“健康云pro”→“核酸检测服务”→“结果查询”。</br>
        3、“支付宝”→“健康码”→“核酸查询”。</br>
        4、关注“上海易瑞医学”公众号，采样24 小时后可查询检测结果，下载报告。</br>
        <img src="/static/img/gzh_qcode.jpg"  alt="二维码" /></br>
        </td></tr>
        </table></td></tr>
        </table>
        <br>
        <input type="button" value="返回" id="alert_cancel"/>
        <br><br><br>
        </div>
</body>
</html>
