<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{{ pt }}</title>

	<link rel="stylesheet" type="text/css" href="static/css/base.css" />
	<link rel="stylesheet" type="text/css" href="static/css/edit.css" />
	<link rel="stylesheet" type="text/css" href="static/css/font-awesome/css/font-awesome.min.css" />
	<script type="text/javascript" src = "static/js/jquery.min.js"></script>
	<script type="text/javascript" src = "static/js/survey.js"></script>
	<script type="text/javascript" src = "static/js/questionnaire.js"></script>
</head>
<body>
	<div id="survey-wrap" class="survey-wrap"></div>
	
</body>
</html>