{% extends 'base.html' %}
 
{% block title %}{{ pt }}{% endblock %}
 
{% block content %}
<body>
    <div align=center>
        <h1>{{info_title}}</h1>
        <form action="/{{bsite}}?Token={{token}}" method="post">
            <table border="1">
            {% for info in info_row1 %}
            <tr>
            <th>
            <label>{{ info.0 }}</label>
            </th>
            <th>
            <input type="text" name="{{ info.0 }}" value="{{ info.1 }}" readonly >
            </th>
            </tr>
            {% endfor %}
            {% for info in info_row2 %}
            <tr>
            <th>
            <label>{{ info.0 }}</label>
            </th>
            <th>
            <input type="text" name="{{ info.0 }}" value="{{ info.1 }}">
            </th>
            </tr>
            {% endfor %}
            </table>
            <p>
                {{stu}}
            </p>
            {% for J_type in J_types %}
            <input type="submit" name="J_type" value="{{J_type}}" />
            {% endfor %}
        </form>
    </div>
<div align=center>
{% for tb in tbs %}
<h1>{{tb.0}}</h1>
<table border="1">
<tr>
{% for col in tb.2 %}
<th>
{{ col }}
</th>
{% endfor %}
</tr>
{% for c_info in tb.3 %}
<tr>
{% for c_col in c_info %}
<td align=left>
{{ c_col }}
</td>
{% endfor %}
</tr>
{% endfor %}
</table>
{% endfor %}
{% for adv in adv_info %}
<p align=left>{{adv}}</p>
{% endfor %}
</div>
</body>
{% endblock %}